html, body {
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(79, 79, 79);
    font-family: 'Roboto';
}

/* MAIN */
main {
    flex: 2;
    display: flex;
    align-items: center;
}

.calculator {
    background-color: white;
    height: 30em;
    width: 25em;
    padding: 2px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
}

.display {
    height: 15%;
    margin: 4px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    font-size: 40px;
    margin-right: 8px;
}

.button-container {
    padding: 4px;
    display: flex;
    flex-wrap: wrap;
    align-self: stretch;
    flex: 1;
}

.button {
    width: 25%;
    color: black;
    border: none;
    font-size: 24px;
}

.clear, .delete {
    width: 50%;
    color: white;
}

.clear  {
    background-color: rgba(30, 64, 64, 0.7);
}

.clear:hover  {
    background-color: rgba(30, 64, 64, 1);
}

.delete {
    background-color: rgba(55, 144, 134, 0.7);
}

.delete:hover {
    background-color: rgba(55, 144, 134, 1);
}

.addition {
    border-radius: 0px 0px 16px 0px;
}

.decimal {
    border-radius: 0px 0px 0px 16px;
}

.arithmetic, .decimal, .equals {
    background-color: rgba(164, 220, 153, 0.70);
}

.arithmetic:hover, .decimal:hover, .equals:hover {
    background-color: rgba(164, 220, 153, 1);
}

.number {
    background-color: rgba(221, 240, 176, 0.70);
}

.number:hover {
    background-color: rgb(218, 241, 165);
}

/* FOOTER */

footer {
    color: white;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

footer a {
    color: white;
}

footer a:hover {
    color: black;
}